.container {
    background: rgb(236, 228, 230);
    min-height: 100vh;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero {
    /* url("photo/background.jpg"); */
    background-image: url("../photos/background.jpg"); ;
    background-size: cover;
    background-position: center;
    height: 35vh;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: center;
    padding: 0 20px;
    color: white; */
}

.hero {
    flex-wrap: wrap;
    justify-content: center;
}

.hero img {
    width: 80%;
    margin: auto;
}

.form-content {
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    /* .row {
        flex-direction: row;
    } */
  }