.container {
    background: rgb(236, 228, 230);
    min-height: 100vh;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero {
    /* url("photo/background.jpg"); */
    background-image: url("../photos/background.jpg"); ;
    background-size: cover;
    background-position: center;
    height: 35vh;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: center;
    padding: 0 20px;
    color: white; */
}

.hero {
    flex-wrap: wrap;
    justify-content: center;
}

.hero img {
    width: 80%;
    margin: auto;
}

.form-content {
    width: 80%;
    margin: 0 auto;
}

.content {
    font-weight: bold;
    margin-top: 1rem;
}

.form {
    margin-top: 1rem;
}

fieldset {
    flex-direction: row;
    border: none;
    padding: 0.5rem 0 0 0;
}

footer {
    margin: 0.5rem auto;
    text-align: center;
}

.btn {
    margin-top: 0.5em;
    padding: 0.5rem 0.75em;
    border: none;
    border-radius: 0.5rem;
}

.btn-success {
    background: rgb(161, 236, 161);
}

@media only screen and (min-width: 600px) {
    /* .row {
        flex-direction: row;
    } */
  }